.conferences {
  p {
      background-color: #2ec4b6;
      border-radius: 6px;
      padding: 8px 16px;
      margin-top: 12px;
      color: white;
      text-align: center;
      font-size: 30px;
  }
}