.nav-bar-item {
  padding: 0 20px;
  // min-width: 340px;
  .link-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
    cursor: pointer;
    border-bottom: 1.5px solid hsl(0, 0, 93%);
    padding: 10px 0;
    .link-title {
    }
  }
  .dropdown {
    height: 0;
    display: block;
    text-align: left;
    margin-top: -10px;
    padding-bottom: 2px;
    li {
      margin: 10px 0;
      color: #787878;
      display: flex;
      justify-content: space-between;
      a {
        transition:color 0.1s ease-in-out ;
        -webkit-transition:color .1s ease-in-out ;
        font-weight: 600;
        text-align: right;
        word-wrap: break-word;
      }
      a:hover {
        color: #36ead8;
      }
    }
  }
  .fadeUp{
    display: none;
    transition:height 0.5s ease-in-out;
    -webkit-transition:height 0.5s ease-in-out ;
  }
  .fadeDown {
    transition:height 0.5s ease-in-out ;
    -webkit-transition:height 0.5s ease-in-out ;
    display: block;
    height: 100%;
  }

}