.mobile-nav {
  position:fixed;
  height: 100vh;
  width: 320px;
  top: 0;
  right: 0;
  transition: .3s ease-in-out;
  z-index: 3000;
  overscroll-behavior: contain;  
  overflow-x: hidden;
  .nav-bar {
    height: 100vh;
    padding: 40px 10px 0;
    border: 1px solid hsl(0, 0%, 91%);
    width: 100%;
    overflow-y: auto;
    background-color: white;
    .close-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
      font-size: 22px;
      &:hover {
        color: #2ec4b6;
      }
    }
    .icons {
      display: flex;
      margin: 50px auto;
      justify-content: space-around;
      font-size: 20px;
      a {
        cursor: pointer;
        background-color: #2ec4b6;
        color: white;
        padding: 8px;
        border-radius: 4px;
      }
    }
  }
}
.fade-in {
  transform: translateX(0);
}
.fade-out {
  transform: translateX(100%);
}